@import url("navbar.css");

html, body {
  width: 100%;
  height: 100%;
}

h1, h4 {
  font-weight: 700;
}

.winter {
  font-weight: 400;
}

.before-p {
  margin-bottom: 5px;
}

body {
  /* Default to system font if custom font not supported */
  font-family:  "Lato", sans-serif;
  background-color: rgb(128, 128, 128);
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.0); 
  color: rgb(7, 7, 7);
}

.body-index {
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.0); /* makes every background except for the home page a little bit dimmer than the normal image*/
}

.full-page {
  position: absolute;
  height: calc(100% - 140px); /* the full width of the page minus the size of the header (50px), the size of the footer (50 px), the size of top padding (20px) and the size of bottom padding (20px) */
  width: 100%;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 0 100vmax rgb(216, 209, 209);
}

.pages {
  position: relative;
  z-index: 10;
  width:100%;
  box-shadow: inset 0 0 0 100vmax rgb(216, 209, 209);
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border-radius: 0px;
  height: auto; 
}

#home {
  color: white;
  text-align: center;
  -webkit-text-stroke: 0px black;
}

.section-title {
  color: blue;
}

#footer {
  position: relative;
  bottom: 0;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}