html, body {
  width: 100%;
  height: 100%;
}

body {
  /* Default to system font if custom font not supported */
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-bg-image {
  background-image: url('https://live.staticflickr.com/65535/52566469458_00856e9af7_b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1, p {
  color: whitesmoke;
  text-align: center;
}

/* Remove this later */
img:hover {
  transform: rotate(180)
}