/* CSS for navbar */
/* Modified from https://github.com/princetonscioly/puso_website/blob/site/2022/css/main.css */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar {
    font-family: 'Lato';
    letter-spacing: 0.5px;
    font-weight: 100;
    border: 0;
    margin-bottom: 0;
}

#navbarNavDropdown {
    float: right;
}

/* Text font color */
.navbar-nav > li > a {
    color: white;
    font-size: 80px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.dropdown-menu > li > a {
    color: white;
}

/* Navbar is 50 px high */
.navbar-brand img {
    min-height: 26px;
    height: 26px;
}

/* Effect for mousing over it */
.nav-item:hover {
    background-color: gray;
}

.nav-item > a:hover,
.nav-item > a:focus {
    color: white !important;
}

/* Dropdown background color */
.dropdown-menu {
    background-color: gray;
    box-shadow: none;
    appearance: none; /* remove rounded border */
    border-radius: 0px; /* remove rounded border */
}
