/* CSS for navbar */
/* Modified from https://github.com/princetonscioly/puso_website/blob/site/2022/css/main.css */

.navbar {
    font-family: 'Lato';
    letter-spacing: 0.5px;
    font-weight: 400;
    border: 0;
    margin-bottom: 0;
}

/* Text font color */
.navbar-nav > li > a {
    color: white;
}

/* Navbar is 50 px high */
.navbar-brand img {
    min-height: 26px;
    height: 26px;
}